@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Track Your Stats For Any FPS!</h1>
    <p>This site allows you to view users stats for specific games they have add to their account.</p>
     <p>You are also able to create an account and track your own stats by game!</p>   
    
</div>
